body {
  background: rgb(42, 42, 42);
  background-image: linear-gradient(
    180deg,
    rgba(42, 42, 42, 1),
    rgba(0, 0, 0, 1)
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

form {
  width: 50%;
  align-self: center;
  text-align: left;
  font-size: 10pt;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

form p {
  margin-bottom: 5px;
}

form input {
  width: 90%;
  height: 20px;
  border: 1px solid #727272;
  border-radius: 5px;
  margin: 0;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  font-size: 11pt;
  padding: 4%;
}

form input:hover {
  border: 1px solid #fff;
}

form input[type="submit"] {
  align-self: center;
  padding: 5%;
  height: 100%;
  width: 100%;
  cursor: pointer;
  margin: 4% 0;
  font-weight: 600;
  color: #000000;
  background-color: #1fdf64;
  border-radius: 28px;
}

form input[type="submit"]:hover {
  border: 2px solid #1fdf64;
}

.logo {
  height: 36px;
  padding: 0 8px;
  margin: 0;
}

.login {
  margin: 2.5% auto;
  padding: 2.5% 10px;
  background-color: #121212;
  max-width: 700px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;
}

.welcome {
  font-size: 24pt;
  font-weight: 600;
  padding: 3%;
  margin: 0;
}

.button {
  color: #fff;
  border: 1px solid #727272;
  border-radius: 28px;
  width: 50%;
  align-self: center;
  font-size: 12pt;
  font-weight: 515;
  padding: 1.5%;
  margin: 1%;
  background-color: rgba(0, 0, 0, 0);
}

.button:hover {
  border: 1px solid #fff;
}

.button img {
  padding: 0 10px;
  float: left;
}

.login hr {
  border: 0.5px solid rgba(114, 114, 144, 0.3);
  width: 77%;
  margin: 5% 0 3% 0;
  align-self: center;
}

.switch {
  display: flex;
  font-size: 9pt;
  font-weight: 600;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.switch p {
  padding: 0 3%;
}

input[type="checkbox"] {
  margin: 10% 0;
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 40px;
  height: 20px;
  background: #717171;
  display: block;
  border-radius: 20px;
  position: relative;
}

label:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 18px;
  height: 18px;
  background: #121212;
  border-radius: 18px;
  transition: 0.3s;
}

input:checked + label {
  background: #1ed760;
}

input:checked + label:after {
  left: calc(100% - 1px);
  transform: translateX(-100%);
}

label:active:after {
  width: 26px;
}

.forgot {
  text-align: center;
  padding: 5% 0;
}

.forgot a {
  color: #ffffff;
}

.forgot a:hover {
  color: #1ed760;
}

.signup {
  margin: 10% 0 5% 0;
  color: #a7a7a7;
}

.signup a {
  color: #ffffff;
}

.signup a:hover {
  color: #1ed760;
}

.footer {
  font-size: 9pt;
  background-color: #121212;
  width: 100%;
  position: absolute;
  bottom: -100;
  left: 0;
}
